* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #fff; */
    user-select: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* flex */
.app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    background: teal;
    height: 100vh;
    background-color: #121212;
    min-height: 600px;
    min-width: 350px;
    overflow: hidden;
}

/**********Header****************/
header .appName {
    width: max-content;
    padding: 8px;
    margin: auto;
    font-size: 8pt;
    background: linear-gradient(10deg, red, blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .menu {
    display: flex;
    justify-content: space-between;
    background-color: #232323;
    padding: 4px 32px 4px 0;
}

header .user {
    font-size: 10pt;
    width: fit-content;
    background: linear-gradient(90deg, red, orange, yellow, orange, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header menu li {
    color: #898989;
    border-right: 1px solid #898989;
    padding: 0 8px;
    font-size: 10pt;
}

header li:hover {
    color: white;
}

/***************************/

/*************Main****************/
main {
    flex: auto;
    display: flex;
    width: 100%;
    max-height: calc(100% - 105px);
}

main .screen {
    background-color: black;
    flex: auto;
    overflow: hidden;
}

main #board {
    width: 100%;
    height: 100%;
    transform: rotateX(180deg);
}

main .properties {
    min-width: 200px;
    background-color: #121212;
}
.properties {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.boardProp div {
    border-bottom: 5px dashed rgb(255, 255, 255);
    color: rgb(141, 255, 255);
    margin: 0 20px;
    padding: 10px;
}
.left-menu {
    background-color: #121212;
    min-width: 40px;
    height: 100%;
    border-top: 1px solid #121212;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tools,
.shortcuts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px 0;
    color: #ababab;
    flex: 1;
}

.shortcuts {
    justify-content: flex-end;
}

.shortcuts li {
    width: 30px;
    aspect-ratio: 1 / 1;
    background-color: #343434;
}

.tools li {
    width: 30px;
    aspect-ratio: 1 / 1;
    background-color: #343434;
}

.tools li, 
.shortcuts li {
    display: grid;
    place-items: center;
    font-weight: 700;
}

.tools li:hover,
.shortcuts li:hover {
    background-color: #ababab;
    color: #121212;
}
/***************************/

/**********Footer*****************/
footer {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: #232323;
}

footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer ul li {
    color: #898989;
    border-right: 1px solid #898989;
    padding: 0 8px;
}

footer li:hover {
    color: white;
}
/***************************/
/**************Miscellinas***/

.active {
    background-color: red;
}

/***********************************/
img {
    max-width: 100%;
    display: block;
    pointer-events: none;
}

#context-menu {
    display: grid;
    visibility: hidden;
    position: absolute;
    z-index: 100;
    padding-block: 1rem;
    background-color: #121212;
    color: bisque;
    outline: 2px solid #343434;
    list-style: none;
    gap: 0.5rem;
}

#context-menu li {
    border: 1px solid #343434;
    background-color: #232323;
    padding: 0.25rem;
    font-family: 'Courier New', Courier, monospace;
}
#context-menu li:hover {
    background-color: bisque;
    color: #121212;
    font-weight: 700;
}

#context-menu h2 {
    margin: 0.5rem;
}
