* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

.container {
    flex: 5;
    background-color: rgb(0, 0, 0);
}

#board {
    width: 100%;
    height: 100%;
    transform: rotateX(180deg);
}

.properties {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    background-color: rgb(0, 66, 66);
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}

.properties .board div {
    border-bottom: 5px dashed rgb(0, 0, 0);
    color: rgb(141, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}