* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    display: block;
    width: 100%;
    height: 100%;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    font-size: 1.2rem;
    color: bisque;
    text-decoration: none;

}

html {
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: bisque;
}

body {
    background-color: #121212;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-inline: 2rem;
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    width: 100svw;
    font-size: 1.5rem;
    z-index: 100;
}

nav button {
    margin-left: auto;
    min-width: max-content;
    min-height: max-content;
    display: grid;
    place-items: center;
    color: bisque;
    background-color: transparent;
    border: 2px solid;
    border-radius: 1000px;
    align-self: center;
    position: relative;
    overflow: clip;
}

nav .menus {
    display: flex;
    padding-block: 1rem;
    gap: 2rem;
    list-style: none;

}

header {
    display: grid;
    place-items: center;
    min-height: 100svh;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 7rem;
    width: max-content;
    background-image: linear-gradient(10deg, orangered, blue);
    background-clip: text;
    color: transparent;
    padding-inline: 1rem;
}

.down-arrow {
    display: grid;
    place-items: center;
    position: absolute;
    top: 87svh;
    left: 50%;
    transform: translateX(-50%);
    width: 3rem;
    aspect-ratio: 1 / 1;
    background-color: #232323;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    box-shadow: 0 4px 0 -2px bisque;
    user-select: none;
    background-image: url("downArrow.png");
    animation: up-down 2s infinite steps(1);
}

.down-arrow:active {
    box-shadow: none;
    transform: translate(-50%, 2px);
    animation: unset;
}

main {
    font-size: 2rem;
}

.wrapper {
    margin-inline: auto;
}

section {
    background-color: #121212;
    min-height: 110svh;
    padding-top: 4rem;
    position: relative;
}

.hero {
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    place-items: center;
    border-spacing: border-box;
    background-color: #232323;
}

.content{
    width: 50%;
    padding-bottom: 8%;
}

.hero p {
    display: inline-block;
    text-align: left;
    width: fit-content;
    height: min-content;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    background-size: 0 0;
    background-clip: text;
    transition: background-size .25s ease-out;
}

.hero p:hover {
    background-size: 100% 100%;
}

.title {
    color: transparent;
    background-image: linear-gradient(10deg, crimson, blue);
    background-clip: text;
}

.image-container{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 50px;
}

.image-container img {
    width: 200px;
}

.image-container img:nth-child(2n) {
    margin-left: auto;
    transform: rotateZ(30deg);
}
.image-container img:nth-child(2n-1) {
    margin-right: auto;
    transform: rotateZ(-30deg);
}

.tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 180px;
    gap: 10rem;
}

h2{
    color: aqua;
    padding: 20px;
}

.tool-card1{
    background-color:coral;
    border-radius: 10px;
    border-color: aliceblue;
}

.tool-card2{
    background-color:coral;
    border-radius: 10px;
    border-color: aliceblue;
}

.tool-card1 p {
    font-size: 20px;
    padding: 20px;
}

.btn{
    width: 100px;
    height: 40px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-inline: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 100%;
    border-radius: 1000px;
    position: relative;
    margin-left: 70px;
    margin-top: 20px;
    z-index: 1;
}

.btn:hover{
    animation: animate 8s linear infinite;

}

@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.btn::before{
    content: '';
    position: absolute;
    inset: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 100%;
    border-radius: 20px;
    filter: blur(20px);

}

.tool-card2 p {
    font-size: 20px;
    padding: 20px;
}

.cta-btn {
    outline: 2px solid beige;
    width: max-content;
    height: max-content;
    padding-inline: 2rem;
    padding-block: 1rem;
    text-decoration: none;
    position: relative;
    overflow: clip;
    background-color: transparent;
    position: absolute;
    bottom: 150px;
    left: 15%;
}

.text {
    color: white;
    mix-blend-mode: difference;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.bg {
    width: 160%;
    scale: 0;
    aspect-ratio: 1 / 1;
    border-radius: 1000px;
    background-color: bisque;
    mix-blend-mode: difference;
    position: absolute;
    pointer-events: none;
    transition: scale .2s ease-in-out;
} 
.cta-btn:hover .bg {
    scale: 1;
    transition: scale .3s ease-in;
}
@keyframes up-down {

    0%,
    100% {
        background-position: 50% 40%;
    }

    50% {
        background-position: 50% 70%;
    }
}