* {
    box-sizing: border-box;
}

:root {
    --pd-block: 12px 24px;
    --bg-900: #121212;
    --bg-600: #232323;
    --f-color-dark: #343434;
    --f-color-light: bisque;
}

html,
input,
button {
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    color: var(--f-color-light);
    font-weight: 700;
    user-select: none;
}

body {
    margin: 0;
    background-color: var(--bg-900);
}

header {
    margin-block: 3rem;
    margin-inline: auto;
    max-width: 550px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: max-content;
    color: transparent;
    background-clip: text;
    font-size: 2.25rem;
    background-image: linear-gradient(10deg, crimson, blue);
    letter-spacing: .2rem;
}

.wrapper {
    max-width: 450px;
    margin-inline: auto;
    display: grid;
    gap: 2rem;
    padding: 1rem 2rem;
    border: 2px solid;
    overflow: clip;
}

input {
    border: 0;
    border-radius: 8px;
    background-color: var(--bg-600);
}

input, button {
    padding: var(--pd-block);
}

button {
    border: 0;
    border-radius: 0.5rem;
    background-color: bisque;
    border: 2px solid bisque;
    color: #121212;
    padding: 4px 16px;
    font-size: 1.5rem;
    width: max-content;
    margin-inline: auto;
    position: relative;
}

button::before,
button::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: bisque;
    position: absolute;
    top: 50%;
}

button::before {
    left: 110%;
}

button::after {
    left: -110%;
}

button:active {
    color: bisque;
    background: crimson;
}

p {
    margin-top: 0;
    font-weight: 500;
}

a {
    color: crimson;
    text-transform: uppercase;
    text-decoration: none;
}
